
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html{
  width:100vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:100;
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#header-img{
  height:50px;
  width:50px;
  display: block;
  margin:10px;
  align-items: center;
  justify-content: flex-start;
  /*border: 5px solid red;*/
}
header{
  background: rgb(242, 162, 13);
  height: 7rem;
  width: 99vw;
  padding:0;
  margin:0;
  border: 5px solid #f2a20d;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.nav li{
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  padding:10px;
}
.nav li a{
 transition:all 0.3s ease 0s;
 text-decoration: none;
 color:#333333;
}
.nav li a:hover{
  color: #1a4a73;
}
button{
  background-color: #333333;
  color:white;
  padding: 5;
  margin: 10;
}
#my-image{
  width:99%;
  height:85%;
  padding: 0;
  margin-top:7rem;
  position: relative;
}
#img-wall{
  position:relative;
  max-width:100%;
  height:90%;
  padding:0;
  margin:0;
}
.img-cap{
color:rgb(242, 162, 13);
position: absolute;
text-align: center;
top:75%;
background-color: rgba(00, 00, 00, 0.5);
left: 0%;
right: 0%;
/*border: 1px solid red;*/
padding:10;
}
h3{
  width:100%;
  background-color:rgb(242, 162, 13) ;
  padding-left: 25px;
}
.short{
 animation: fade 10s infinite alternate;
}
form{
  background-color:#F2F2F2;
  display:flex;
  align-items:center;
  height:200px;
}
form label input{
  width:300px;
  height:40px;
  display:block;
  margin:50;
  border:2px solid #F2A30F;
  border-color: #F2A30F;
}
form label input:hover{
  border-color: #F2A30F;
}
input[type="submit"]{
  background-color:#F2A30F;
}
iframe{
  margin:50;
  display:block;
  align-items: center;
}
.services, .price{
  display:flex;
  flex-wrap: wrap;
  margin:10;
  align-content: space-between;
}
.AA, .table{
  text-align:center;
  position: relative;
  display: inline-block;
  padding: 10;
  align-items: center;
  flex-basis:auto;
}
.display, .price-t{
  position:relative;
  width: 25em;
  max-width: 100%;
  flex-shrink: 0;
  display: block;
}
.content{
  font-size: 15px;
  position:absolute;
  top: 30%;
  left:10%;
  flex: 1;
  word-wrap: break-word;
  max-width: calc(100% - 220px);
  color: aliceblue;
  background-color: rgba(00, 00, 00, 0.5);
}
h4{
  background-color: #F2A30F;
  width:100%;
}
#contact{
  height:10rem;
}
p{
  padding: 15px;
}
footer{
  height:15rem;
  background-color: #4B0082;
  color:white;
  text-align: right;
}
footer a{
  color:white;

  cursor:pointer;
}
.last_link{
  padding-right:80px;
  text-align: end;
}





















@keyframes fade {
  0% {
    opacity: 0; /* Text is invisible at the beginning */
  }
  100% {
    opacity: 1; /* Text is fully visible at the end */
  }
}